<div id="subscribe" data-id="{_ID_}" data-display-condition="{start_to_display}" data-display-condition-type="{start_to_display_option}" data-when-reach="{when_reach_percentage}" data-after-second="{start_to_display_time_duration}" class="popup-container kong-popup" style="display: none;" data-template="Subscribe">
     <div class="popup-modalone blue">
         <a class="close-popup" onclick="close_kong_popup()">x</a>
         <h2>{popup_body_title}</h2>
         <p>{popup_body_description}</p>
         <form class="popup-form" onsubmit="javascript:submit_behaviour();">
             <input type="email" placeholder="Your Email">
             <input type="submit" class="popup-button" value="{popup_button_text}">
         </form>
     </div>
</div>