<div class="drugableSection ui-sortable-handle" id="ea_1" data-field="bucv4t7me99q">
    <div class="pt-addfield-box">
        <div class="accrodianBtn">
            <span class="pt-addfield-box-icon">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>

            <span class="pt-addfield-box-title">
                <input type="text" class="editableTitle" name="content_form_email_field_bucv4t7me99q" readonly="readonly" value="Email address" style="background: transparent; padding: 0px;">
            </span>

            <span class="pt-addfield-box-arrow">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
        </div>

        <a class="pt-addfield-box-config" href="javascript:void(0);">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>

        <ul class="add-button-field pt-config-btn">
            <li class="renameTitle">Rename</li>
            <li class="cloneSection">Clone</li>
            <li class="removeSection">Remove</li>
        </ul>
    </div>

    <div class="pt-addfield-box-edit">
        <div class="pt-option-box">
            <label>Title</label>
            <input type="text" name="content_form_email_title_bucv4t7me99q" placeholder="Title">
        </div>

        <section>
            <div class="pt-checkbox pt-inline-field">
                <label class="container">
                    <input type="checkbox" name="content_form_email_consent_bucv4t7me99q" id="conent-form-email-consent-bucv4t7me99q" class="sectionOpener option-checkbox">
                    <span class="checkmark"></span>Add a consent checkbox
                </label>
            </div>

            <div class="subSection">
                <div class="pt-option-box">
                    <label>Text</label>
                    <input type="text" name="content_form_email_message_bucv4t7me99q" placeholder="Spacify consent message">
                </div>

                <div class="pt-checkbox pt-inline-field">
                    <label class="container">
                        <input type="checkbox" name="content_form_email_required_bucv4t7me99q" id="conent-form-email-required-bucv4t7me99q" class="option-checkbox">
                        <span class="checkmark"></span>Required
                    </label>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="drugableSection ui-sortable-handle" id="mlt_2" data-field="7t169vygnl0u" data-tag="multi">
    <div class="pt-addfield-box">
        <div class="accrodianBtn">
            <span class="pt-addfield-box-icon">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>

            <span class="pt-addfield-box-title">
                <input type="text" class="editableTitle" name="content_form_single_field_7t169vygnl0u" readonly="readonly" value="Multiline text" style="background: transparent; padding: 0px;">
            </span>

            <span class="pt-addfield-box-arrow">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
        </div>

        <a class="pt-addfield-box-config" href="javascript:void(0);">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>

        <ul class="add-button-field pt-config-btn">
            <li class="renameTitle">Rename</li>
            <li class="cloneSection">Clone</li>
            <li class="removeSection">Remove</li>
        </ul>
    </div>

    <div class="pt-addfield-box-edit" style="display: none;">
        <div class="pt-option-box">
            <label>Field Label</label>
            <input type="text" name="content_form_single_title_7t169vygnl0u" placeholder="text Label">
        </div>

        <div class="pt-checkbox pt-inline-field">
            <label class="container">
                <input type="checkbox" name="content_form_field_required_7t169vygnl0u" id="conent-form-field-required-7t169vygnl0u" class="option-checkbox">
                <span class="checkmark"></span>Required
            </label>
        </div>
    </div>
</div>            