<div class="pt-popup pt-popup--contact popup-container kong-popup" id="contact" data-id="{_ID_}" style="display: none;" data-template="Contact">
    <div class="pt-popup__header">
        <a class="pt-popup__close" href="javascript:void(0);" onclick="close_kong_popup();">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>

        <h2>{content_title}</h2>
    </div>

    <div class="pt-popup__body">
        <p>{content_description}</p>

        <form class="popup-form" method="POST" onsubmit="javascript:submit_behaviour( {_ID_}, event, this );">
            <div class="form-fields-block">
                <div class="pt-frm-field" id="fl_ea_1" data-form-field="bucv4t7me99q" data-order="1">
                    <label id="label-bucv4t7me99q">Email</label>
                    <input type="email" name="email_name_bucv4t7me99q" id="field_bucv4t7me99q">
                </div>

                <div class="pt-frm-field" id="fl_mlt_2" data-form-field="7t169vygnl0u" data-order="2">
                    <label id="label-7t169vygnl0u">Message</label>
                    <textarea name="textarea_7t169vygnl0u" id="textarea_7t169vygnl0u"></textarea>
                </div>
            </div>

            <div class="form-btn-block">
                <button id="popup-submit">{button_text}</button>
            </div>
        </form>
    </div>
</div>