<!-- <div id="contact" data-id="{_ID_}" class="popup-container kong-popup" style="display: none;" data-template="Contact">
	<div class="popup-modalone modal-image">
		<a class="close-popup" onclick="close_kong_popup()">x</a>
		<div class="popup-row">
			<div class="popup-row-image">
				<img src="{popup_image}" alt="">
			</div>
			<div class="popup-row-info">
				<h2>{popup_body_title}</h2>
				<p>{popup_body_description}</p>
			</div>
		</div>
	</div>
</div> -->

<div class="pt-popup pt-popup--contact popup-container kong-popup" id="contact" data-id="{_ID_}" style="display: none;" data-template="Contact">
    <div class="pt-popup__header">
        <a class="pt-popup__close" href="javascript:void(0);" onclick="close_kong_popup(); clickTarget( {_ID_}, 'close' );">
        	<i class="fa fa-times" aria-hidden="true"></i>
        </a>

        <h2>{popup_body_title}</h2>
    </div>

    <div class="pt-popup__body">
        <p>{popup_body_description}</p>

        <form class="popup-form" onsubmit="javascript:submit_behaviour();">
            <div class="pt-frm-field">
                <label>Email</label>
                <input type="email" name="">
            </div>

            <div class="pt-frm-field">
                <label>Message</label>
                <textarea></textarea>
            </div>
            
            <button>{popup_button_text}</button>
        </form>
    </div>
</div>