<div class="pt-popup pt-popup--contact popup-container kong-popup" id="contact" data-id="{_ID_}" style="display: none;" data-template="Contact">
    <div class="pt-popup__header">
        <a class="pt-popup__close" href="javascript:void(0);" onclick="close_kong_popup();">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>

        <h2>{content_title}</h2>
    </div>

    <div class="pt-popup__body">
        <p>{content_description}</p>

        <form class="popup-form" method="POST" onsubmit="javascript:submit_behaviour( {_ID_}, event, this );">
            <div class="form-fields-block">
                <div class="pt-frm-field" id="fl_ea_1" data-form-field="e2xinp3ug8hp" data-order="1">
                    <label id="label-e2xinp3ug8hp">Email</label>
                    <input type="email" name="email_name_e2xinp3ug8hp" id="field_e2xinp3ug8hp">
                </div>

                <div class="pt-frm-field" id="fl_mlt_2" data-form-field="e2xinp3ug8hp" data-order="2">
                    <label id="label-e2xinp3ug8hp">Message</label>
                    <textarea name="textarea_e2xinp3ug8hp" id="textarea_e2xinp3ug8hp"></textarea>
                </div>
            </div>

            <div class="form-btn-block">
                <button id="popup-submit">{button_text}</button>
            </div>
        </form>
    </div>
</div>